body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  height: 100vh;
  width: 100vw;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(116, 116, 116);
  padding: 0 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 128, 128);
}
.main {
  width: 100vw;
  min-height: 100vh;
  background: red;
}

.top {
  width: 100vw;
  min-height: 90vh;
  background: blue;
  display: flex;
}
.left {
  width: 250px;
  min-height: 90vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.l-top {
  padding-top: 10px;
  width: inherit;
  height: 300px;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.l-top-fixed {
  height: 41vh;
}
.side-botton {
  margin-left: 0;
  padding-left: 0;
  margin: 5px 0;
  background: rgba(195, 16, 16, 0);
  border-radius: 5px;
  padding: 8px 10px;
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: rgb(186, 186, 186);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.side-botton:hover {
  color: rgb(255, 255, 255);
}
.side-botton img {
  width: 24px;
}
.l-top p {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.1rem;
  cursor: pointer;
}
.l-top img {
  filter: invert(0.7);
  transition: 0.4s ease-in-out;
}
.l-top img:hover {
  filter: invert(1);
}

.l-bottom {
  width: inherit;
  height: 49vh;

  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: #8f8f8f;
  overflow-x: hidden;
  overflow-y: scroll;
}
.l-bottom-box p:hover {
  color: rgb(230, 230, 230);
  cursor: pointer;
}
.l-bottom-box {
  width: inherit;
  margin: 15px;
  height: 100%;
}
.right {
  width: 100%;
  min-height: 90vh;
  /* background: rebeccapurple; */
  display: flex;
  flex-direction: column;
}
.r-nav {
  /* width:100%; */
  min-height: 10vh;
  background:rgb(32, 22, 64);
  bottom: 100vh;
}
.r-body {
  /* width: 100%; */
  min-height: 80vh;
  background: rgb(27, 186, 16);
  display: flex;
  justify-content: center;
}
.r-body-box {
  height: 80vh;
  width: 100%;
  background: #000;
  overflow: auto;
}
.card-box {
  position: relative;
  width: auto;
  min-height: 400px;
  margin: 50px 0;
  background: rgb(18, 18, 18);
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  /* justify-self: start; */
}

.sub-card-box {
  width: auto;
}
.bottom {
  min-height: 10vh;
  width: 100vw;
  background: #000;
}
.card1 {
  margin: 20px 0px;
  margin-right: 40px;
  min-width: 340px;
  /* width: 22.5vw; */
  background: rgb(42, 42, 42);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (min-width: 1800px) {
  .card1 {
    width: 25vw;
  }
  .card1 p {
    margin: 0;
  }
  .card2{
    
  }
}

.card1 img {
  height: 90px;
  width: 90px;
  transition: 0.3s ease-in-out;
}

.card1 p {
  font-weight: 700;
  font-size: 1rem;
}
.card1 p::after {
  font-weight: 700;
  font-size: 1rem;
}

.card1:hover {
  background: rgb(65, 65, 65);
}
.card-dp {
  box-shadow: 5px 0px 32px 0px rgba(0, 0, 0, 0.4);
}

.card1:hover .play-button {
  display: block;
}
.play-button {
  width: 20px;
  display: none;
  border-radius: 50%;
  transform: scale(0.8);
  transition: 0.3s ease-in-out;
}

.play-button:hover {
  filter: brightness(1.2);
  transform: scale(0.9);
}
.card2 {
  margin: 20px 1.3vw;
  /* margin: 15px; */
  width: 206px;
  /* width: 14.4vw; */
  /* height: 270px; */
  background: rgb(24, 24, 24);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.card2:hover{
  background: rgb(40, 40, 40);
}
.card2-img{
  /* width: 100%; */
  border-radius: 3px;
  box-shadow: 0px 0px 57px -26px rgba(0,0,0,1);
}
.discription p{
  font-size: 0.9rem;
  color: #8f8f8f;
  font-weight: 600;
}
.discription p:hover{
  text-decoration: underline;
}
.discription h5{
  font-size: 1.2rem;
  color: #ffffff;
}
.v-play-button{
  border-radius: 50%;
  height: 50px;
  position: absolute;
  bottom: 7px;
  right:  7px;
  transition: height 2s;
  transition: opacity 0.5s ease-in-out;  
  transform:translateY(9999px);
  opacity: 0;
  filter: brightness(1.2);
}

.card2:hover .v-play-button{
  transform:translateY(0);
  opacity: 1;
}
.v-play-button:hover{
  transform: scale(1.1);
  box-shadow:  0px 10px 5px #0000005d;
}
