body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(116, 116, 116);
  padding: 0 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 128, 128);
}

.main {
  width: 100vw;
  min-height: 100vh;
  /* background: red; */
}

.top {
  width: 100vw;
  min-height: 88vh;
  background: blue;
  display: flex;
}

.left {
  width: 250px;
  min-height: 88vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.l-top {
  padding-top: 10px;
  width: inherit;
  height: 300px;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.l-top-fixed {
  height: 41vh;
}

.side-botton {
  margin-left: 0;
  padding-left: 0;
  margin: 5px 0;
  background: rgba(195, 16, 16, 0);
  border-radius: 5px;
  padding: 8px 10px;
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: rgb(186, 186, 186);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.side-botton:hover {
  color: rgb(255, 255, 255);
}

.side-botton img {
  width: 24px;
}

.l-top p {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.1rem;
  cursor: pointer;
}

.l-top img {
  filter: invert(0.7);
  transition: 0.4s ease-in-out;
}

.l-top img:hover {
  filter: invert(1);
}

.l-bottom {
  width: inherit;
  height: 47vh;

  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
}
.l-bottom-box p{
  font-size: 0.8rem;
  color: #bbbbbb;
}
.l-bottom-box p:hover {
  color: rgb(230, 230, 230);
  cursor: pointer;
}

.l-bottom-box {
  width: inherit;
  margin: 15px;
  height: 100%;
}

.right {
  width: 100%;
  min-height: 88vh;
  /* background: rebeccapurple; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.r-nav {
  width: 100%;
  min-height: 5vh;
  background: rgba(32, 22, 64, 0.865);
  backdrop-filter: blur(20px);
  position: absolute;
  z-index: 3;
}

.r-body {
  /* width: 100%; */
  min-height: 88vh;
  background: rgb(27, 186, 16);
  display: flex;
  justify-content: center;
}

.r-body-box {
  height: 88vh;
  width: 100%;
  background: #000;
  overflow: auto;
}

.card-box {
  position: relative;
  width: auto;
  min-height: 400px;
  margin: 50px 0;
  background: rgb(18, 18, 18);
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  /* justify-self: start; */
}

.sub-card-box {
  width: auto;
}

.bottom {
  height: 12vh;
  width: 100vw;
  background: rgb(24, 24, 24);
}

.card1 {
  margin: 20px 0px;
  margin-right: 40px;
  min-width: 340px;
  /* width: 22.5vw; */
  background: rgb(42, 42, 42);
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (min-width: 1800px) {
  .card1 {
    width: 25vw;
  }

  .card1 p {
    margin: 0;
  }
}

.card1 img {
  
  transition: 0.3s ease-in-out;
}

.card1 p {
  font-weight: 700;
  font-size: 1rem;
}

.card1 p::after {
  font-weight: 700;
  font-size: 1rem;
}

.card1:hover {
  background: rgb(65, 65, 65);
}

.card-dp {
  height: 90px;
  width: 90px;
  box-shadow: 5px 0px 32px 0px rgba(0, 0, 0, 0.4);
}

.card1:hover .play-button {
  opacity: 1;
  transform: translateY(0px);
}

.play-button {
  opacity: 0;
  transform: translateY(7px);
  width: 50px;
  height:50px;
  background: #000;
  border-radius: 50%;
  
  transition: 0.3s ease-in-out;
}

.play-button:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}

.card2 {
  margin: 20px 1.3vw;
  /* margin: 15px; */
  width: 206px;
  /* width: 14.4vw; */
  /* height: 270px; */
  background: rgb(24, 24, 24);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.card2:hover {
  background: rgb(40, 40, 40);
}

.card2-img {
  /* width: 100%; */
  border-radius: 3px;
  /* border-radius: 50%; */
  box-shadow: 0px 0px 57px -26px rgba(0, 0, 0, 1);
}

.discription p {
  font-size: 0.9rem;
  color: #8f8f8f;
  font-weight: 600;
}

.discription p:hover {
  text-decoration: underline;
}

.discription h5 {
  font-size: 1rem;
  color: #ffffff;
}

.v-play-button {
  border-radius: 50%;
  height: 50px;
  position: absolute;
  bottom: 7px;
  right: 7px;
  transition: 0.4s ease-in-out;
  transform: translateY(7px);
  opacity: 0;
  filter: brightness(1.2);
}

.card2:hover .v-play-button {
  transform: translateY(0);
  opacity: 1;
}

.v-play-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 5px #0000003a;
}

.s-navbar {
  width: 100%;
}

.s-nav-button img {
  cursor: pointer;
  border-radius: 50%;
  margin: 0px 5px;
  height: 30px;
  opacity: 0.7;
}

.s-nav-button img:hover {
  opacity: 1;
}

.upgrade {
  border: 1px solid white;
  font-size: 0.85rem;
}

.dp {
  width: 25px;
  border-radius: 50%;
  margin-left: 0;
}

.d-arrow {
  width: 25px;
  border-radius: 50%;
  transform: scale(0.7);
  filter: invert();
  transition: 0.4s;
}

.dropbtn {
  background: #0000009a;
}

.dropbtn:hover {
  background: #242424;
}

.dropbtn:focus .d-arrow {
  transform: scale(0.7) rotate(180deg);
}

.dropdown-menu {
  background: rgb(40, 40, 40);
  border-radius: 0;
  border: 0;
  margin-top: 10px;
}

.foot-card {
  width: 25vw;
  height: inherit;
}

.controler1 {
  width: 50vw;
  height: inherit;
  /* background: #000000; */
}

.volume {
  width: 25vw;
  height: inherit;
  /* background: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-discription p {
  font-size: 0.7rem;
  font-weight: 500;
  color: #808080;
}

.footer-icon {
  cursor: pointer;
  margin: auto 12px;
  height: 2vh;
  filter: invert();
}

.footer-icon:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(89, 255, 106)) saturate(7);
}

.footer-play-button {
  cursor: pointer;
  height: 4.5vh;
  margin: 1vh 10px;
  border-radius: 50%;
}

.duration {
  margin: auto 10px;
  font-weight: 500;
  font-size: 0.8rem;
  color: #808080;
}

.footer-icon-2 img {
  cursor: pointer;
  margin: auto 6px;
  height: 2.1vh;
  filter: invert(0.8);
}

.footer-icon-2:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(89, 255, 106)) saturate(7);
}

.table-1{
  width: 80vw;
  color: rgb(171, 171, 171);
  font-size: 0.75rem;
}
.table-1 thead{
  border-bottom: 1px solid rgba(128, 128, 128, 0.515);
}
.table-1 tbody tr:hover{
  cursor: pointer;
  background: #3b3b3b;
}
.song-title{
  font-size: 1rem;
}
.song-img{
  width: 52px;
  margin-right: 10px;
}
.table1-icon{
  width: 15px;
  filter: invert(0.6);
}
.banner-img{
  height: 30vh;
  box-shadow: 0px 0px 31px 10px rgba(0,0,0,0.5);
}

.banner-title{
  font-size: 5.5rem;
  font-weight: 700;
}
.card3{
  width: 180px;
  height:180px;
  margin: 8px 0px;
  margin-left: 15px;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}
.card3 img{
  position: absolute;
  left: 100px;
  top: 90px;
  transform: rotate(30deg);
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  transition: 100ms;
}

.checkmark {
  top: 0;
  left: 0;
  height:1em;
  width: 1em;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}

.container input:checked ~ .checkmark path {
  fill: rgb(28, 201, 90);
  stroke-width: 0;
}

.container input:checked ~ .checkmark {
  animation: like_effect 400ms ease;
}

.container:hover {
  transform: scale(1);
}

@keyframes like_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}



.container-input {
  position: relative;
}

.input {
  height: 35px;
  width: 250px;
  /* padding: 10px 0px 10px 40px; */
  padding: 0 40px;
  padding-right: 0;
  padding-bottom: 5px;

  
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}
.input::placeholder{
  font-size: 0.8rem;
  padding: auto;
  color: #000;
}
.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%) scale(0.8);
}

.input:focus {
  opacity: 1;
  width: 250px;
}

.left-result{
  width: 500px;
  height: 350px;
  background: #a6a6a600;
}
.right-result{
  width: 100%;
  height: 350px;
  background: rgba(255, 0, 0, 0);
}
.l-result-b{
  width: 400px;
  height: 250px;
  background: rgb(24, 24, 24);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.l-result-b:hover{
  background: rgb(40, 40, 40);
}
.l-result-b:hover .restul-play-button{
  opacity: 1;
  transform: translateY(0);
  
}
.l-result-dp{
  border-radius: 50%;
  width: 100px;
  height:100px;
  background: rgb(24, 24, 24);
  box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.4);

}
.restul-play-button{
  width: 40px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(7px);
  transition: 0.3s ease-in-out;
  filter: brightness(1.2);
  cursor: pointer;
}
.restul-play-button:hover{
  box-shadow: 0px 10px 5px #0000003a;
}

.r-result-b{
  width: 95%;
  height: 250px;
  background: #00000000;
}
.r-result-b li{
  background: #ffffff00;
}

.category{
  background: rgba(0, 0, 0, 0.453);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 20px;
}

.song-list-item{
  cursor: pointer;
}